# Meroshare Credentials
BASE_URL="https://meroshare.cdsc.com.np/"
DP_ID="your_dp_name_here"
MS_USERNAME="your_username_here"
PASSWORD="your_password_here"

# IPO Application Details
CRN_NUMBER="your_crn_number_here"
TRANSACTION_PIN="your_transaction_pin_here"