# Credentials and URLs for the test environment
BASE_URL="https://www.saucedemo.com/"
DASHBOARD_URL="https://www.saucedemo.com/inventory.html"
USER_NAME="standard_user"
PASSWORD="secret_sauce"
API_URL="https://api.saucedemo.com/"