
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
node_modules/
/playwright/.auth
/playwright/.data
.env
yarn-error.log


allure-report
allure-results
.DS_Store
package-lock.json

bun.lockb
bun.lock

.github/agents/
.github/workflows/copilot-setup-steps.yml

.vscode
specs/
src/tests/seed.spec.ts

